
@import url("https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap");

body {
  background: linear-gradient(#15477d 30%, #64aaa6 20%, #65daf4 100%);
  font-family: "Poppins", sans-serif;
}

.bg-light {
  background: #00000000 !important;
  transition: all 0.5s;
}
.bg-light.scrolled {
  background: #ffffff !important;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.589);
  transition: all 0.5s;
}
.nav a {
  color: white;
}
.buttonToggle {
  display: none;
}
.all-body-cover {
  margin-top: 200px;
}
.opening {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}
.nama {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}
.img-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.waves {
  margin-top: -100px;
  margin-bottom: 70px;
}

.firstContainer {
  background: linear-gradient(
    #ffffff 0%,
    #ffffff 50%,
    #ffffffde 70%,
    #ffffffb6 75%,
    #ffffff7e 80%,
    #ffffff49 85%,
    #ffffff1f 90%,
    #ffffff00 100%
  );
  margin-top: -80px;
  margin-bottom: 50px;
}
.content {
  padding-bottom: 400px;
}
.nameHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.content .row {
  padding-bottom: 40px;
}
.education {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.itemEdu {
  padding: 10px;
}
.startEnd {
  margin-bottom: -1px;
}
.achive {
  margin-top: -200px;
  margin-bottom: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wavesss {
  margin-bottom: -20px;
}

.thirdContainer {
  background-color: #fff;
  margin-top: 20px;
}

.fourthContainer {
  margin-top: 30px;
}

.fivethContainer {
  margin-top: -150px;
  background-color: #fff;
}
.linkSosmed {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.itemSosmed {
  padding: 10px;
  color: black;
  text-decoration: none;
}
.contactMe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -90px;
}
